<!DOCTYPE html>
<html>
	<head>
		<title><%= titre %></title>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	</head>
	
	<body class="lime lighten-1">
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo left">   <%= titre %> </a>
				 <ul class="right">
					<li><a class="dropdown-trigger" style="text-align: right; width: 120px !important" href="#!" data-target="dropdown1" data-constrainwidth="false">Réglages</a></li>
				</ul>
			</div>
		</nav>

		<ul id='dropdown1' class='dropdown-content ' >
			<li><a href="/">				Auto Pilote 	</a></li>
			<li><a href="capteur">			Capteur   		</a></li>
			<li><a href="calibration">		Calibration    	</a></li>
			<li><a href="asservissement">	PID				</a></li>
			<li><a href="power">	        Eteindre        </a></li>
		</ul>
		
		<div class="container blue-text text-darken-2 center-align">
