<!DOCTYPE html>
<html>
	<head>
		<title><%= titre %></title>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	</head>
	
	<body class="lime lighten-1">
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">   <%= titre %> </a>
				 <ul class="right">
					<li><a class="dropdown-trigger" style="width: 150px !important" href="#!" data-target="dropdown1" data-constrainwidth="false">Paramètres</a></li>
				</ul>
			</div>
		</nav>

		<ul id='dropdown1' class='dropdown-content ' >
			<li><a href="accelerometre">	Accéléromètre	</a></li>
			<li><a href="magnetometre">		Magnétomètre	</a></li>
			<li><a href="gyroscope">		Gyroscope		</a></li>
			<li><a href="asservissement">	Asservisssement	</a></li>
			<li><a href="power">	        Alimentation   </a></li>
		</ul>
		
		<div class="container blue-text text-darken-2 center-align">
