<% include ../partials/header %>
 
<h6>  X : <span id="x"></span> g  </h6>
<h6>  Y : <span id="y"></span> g  </h6>
<h6>  Z : <span id="z"></span> g  </h6>
 			
<% include ../partials/footer %>	
<script type="text/javascript" src="js/accel.js"></script>
