<% include ../partials/header %>


<table>
        <thead>
          <tr>
              <th></th>
              <th>X</th>
              <th>Y</th>
              <th>Z</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>Compas ancien</td>
            <td><span id="mxo"></span></td>
            <td><span id="myo"></span></td>
            <td><span id="mzo"></span></td>
          </tr>
          <tr>
            <td>Compas nouveau</td>
            <td><span id="mxm"></span></td>
            <td><span id="mym"></span></td>
            <td><span id="mzm"></span></td>
          </tr>
          <tr>
            <td>Gyroscope</td>
            <td><span id="gxo"></span></td>
            <td><span id="gyo"></span></td>
            <td><span id="gzo"></span></td>
          </tr>
        </tbody>
      </table>

<button  id="compas" class="waves-effect waves-light btn red lighten-2">Compas</button>
<button  id="gyro" class="waves-effect waves-light btn red lighten-2">Gyroscope</button>


<% include ../partials/footer %>	
<script type="text/javascript" src="js/calibration.js"></script>
