<% include ../partials/header %>
 
<p><b>Accéléromètre</b></p>
<h6>  X : <span id="ax"></span> g  </h6>
<h6>  Y : <span id="ay"></span> g  </h6>
<h6>  Z : <span id="az"></span> g  </h6>
 			
<p><b>Compas</b></p>
<h6>  X : <span id="mx"></span> </h6>
<h6>  Y : <span id="my"></span> </h6>
<h6>  Z : <span id="mz"></span> </h6>

<p><b>Gyroscope</b></p>
<h6>  X : <span id="gx"></span> </h6>
<h6>  Y : <span id="gy"></span> </h6>
<h6>  Z : <span id="gz"></span> </h6>

<% include ../partials/footer %>	
<script type="text/javascript" src="js/capteur.js"></script>
