<% include ../partials/header %>
 

<table>
    <thead>
      <tr>
          <th></th>
          <th>X</th>
          <th>Y</th>
          <th>Z</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Accéléromètre</td>
        <td><span id="ax"></span></td>
        <td><span id="ay"></span></td>
        <td><span id="az"></span></td>
      </tr>
      <tr>
        <td>Compas</td>
        <td><span id="mx"></span></td>
        <td><span id="my"></span></td>
        <td><span id="mz"></span></td>
      </tr>
      <tr>
        <td>Gyroscope</td>
        <td><span id="gx"></span></td>
        <td><span id="gy"></span></td>
        <td><span id="gz"></span></td>
      </tr>
    </tbody>
  </table>
<% include ../partials/footer %>	
<script type="text/javascript" src="js/capteur.js"></script>
