<% include ../partials/header %>

<h6>  X offset :      <span id="mxo"> </span>  </h6>
<h6>  Y offset :      <span id="myo"> </span>  </h6>
<h6>  Z offset :      <span id="mzo"> </span>  </h6>
<hr>
<h6>  new X offset :  <span id="mxm"> </span>  </h6>
<h6>  new Y offset :  <span id="mym"> </span>  </h6>
<h6>  new Z offset :  <span id="mzm"> </span>  </h6>
<hr>
<h6>  Mx :            <span id="mx">  </span>  </h6>
<h6>  My :            <span id="my">  </span>  </h6>
<h6>  Mz :            <span id="mz">  </span>  </h6>
<hr>

<button  id="save" class="waves-effect waves-light btn red lighten-2">Calibration</button>
    
 			
<% include ../partials/footer %>	
<script type="text/javascript" src="js/magneto.js"></script>
