<% include ../partials/header %>

<h6>
    <button  class="waves-effect waves-light btn" id="kp-">-</button>
    Kp : <span id="kp"></span>
    <button class="waves-effect waves-light btn" id="kp+">+</button>
</h6>

<h6>
    <button  class="waves-effect waves-light btn" id="ki-">-</button>
    Ki : <span id="ki"></span>
    <button  class="waves-effect waves-light btn" id="ki+">+</button>
</h6>
			
<h6>
    <button  class="waves-effect waves-light btn" id="kd-">-</button>
    Kd : <span id="kd"></span>
    <button  class="waves-effect waves-light btn" id="kd+">+</button>
</h6>
      
<p id="rectangle1"></p>
     
<button  id="save" class="waves-effect waves-light btn red lighten-2">Sauvegarde</button>
 			
<% include ../partials/footer %>	
<script type="text/javascript" src="js/pid.js"></script>
