<% include ../partials/header %>

<br>
<div class="row">
	
	<div class="col s2">
		<button  class="waves-effect waves-light btn" id="kp-">-</button>
	</div>
	
	<div class="col s2">
		Kp : <span id="kp"></span>
	</div>
	
	<div class="col s2">
		<button class="waves-effect waves-light btn" id="kp+">+</button>
	</div>

</div>

<div class="row">

	<div class="col s2">
		<button  class="waves-effect waves-light btn" id="ki-">-</button>
	</div>
	
	<div class="col s2">
		Ki : <span id="ki"></span>
	</div>
	
	<div class="col s2">
		<button class="waves-effect waves-light btn" id="ki+">+</button>
	</div>
	
</div>

<div class="row">
	
	<div class="col s2">
		<button  class="waves-effect waves-light btn" id="kd-">-</button>
	</div>
	
	<div class="col s2">
		Kd : <span id="kd"></span>
	</div>
	
	<div class="col s2">
		<button class="waves-effect waves-light btn" id="kd+">+</button>
	</div>
	
</div>
   
<span id="rectangle1"></span>

<span id="out"></span>

<% include ../partials/footer %>	
<script type="text/javascript" src="js/pid.js"></script>
