<% include ../partials/header %>

<br>
<button  class="waves-effect waves-light btn" id="eteindre">Eteindre</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="redemarrer">Redémarrer</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="reload">Reinitialise</button>

 			
<% include ../partials/footer %>	
<script type="text/javascript" src="js/power.js"></script>
