<% include ../partials/header %>

<table>
        <thead>
          <td></td>
          <td>off</td>
          <td>reboot</td>
          <td>reload</td>

          
        </thead>
        <tbody>
          <tr>
            <td>Pilote</td>
            <td><button  class="waves-effect waves-light btn" id="pilote_off">go</button></td>
            <td><button  class="waves-effect waves-light btn" id="pilote_reboot">go</button></td>
            <td><button  class="waves-effect waves-light btn" id="pilote_reload">go</button></td>
          </tr>
          <tr>
            <td>Télécommade</td>
            <td><button  class="waves-effect waves-light btn" id="remote_off">go</button></td>
            <td><button  class="waves-effect waves-light btn" id="remote_reboot">go</button></td>
            <td><button  class="waves-effect waves-light btn" id="remote_reload">go</button></td>
          </tr>
        </tbody>
</table>
<% include ../partials/footer %>	
<script type="text/javascript" src="js/power.js"></script>
