<% include ../partials/header %>

<br>
<button  class="waves-effect waves-light btn" id="eteindre">Eteindre Pilote</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="redemarrer">Redémarrer Pilote</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="reload">Reinitialise service</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="remote_off">Eteindre télécommmande</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="remote_reboot">Redémarrer télécommmande</button>
<br>
<br>
<button  class="waves-effect waves-light btn" id="terminal">Terminal</button>

 			
<% include ../partials/footer %>	
<script type="text/javascript" src="js/power.js"></script>
