<!DOCTYPE html>
<html>

  <head>
    <title>Connexion</title>
    <meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	</head>

  <body class="lime lighten-1">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Auto Pilote</a>
      </div>
    </nav>

  	<div class="container blue-text text-darken-2 center-align">

      <h5>Attente de Connexion...</h5>


	</div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/wait.js"></script>
  </body>

</html>

